/* Google Fonts: Roboto Flex */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto Flex', sans-serif;
}

:root{
    --padding-container: 100px 0;
    --main-blue: #004283;
    --gray: #8290BB;
    --main-white: #F5F9FF;
    --gold: #F1F1E6;
    --blue-button: #0081B8;
}
/* main color: #004283*/

.container{
width: 90%;
max-width: 1200px;
margin: 0 auto; /* centra un elemento de manera vertical*/
overflow: hidden; /* todo lo que salga de este contenedor se oculte */
padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: var(--main-white);
}

.hero::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/computer.jpg');
background-size: cover;
clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
z-index: -1; /* para mostrar el contenido de*/
}

.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-title{
    font-weight: 600;
}

.nav-link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav-items{
    list-style: none;
}

.nav-links{
    color: var(--main-white);
    text-decoration: none;
}

.nav-menu, .nav-close{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav-menu i{
    display: block;
    width: 30px;
}

/* Header section */
.hero-container{
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero-title{
    font-size: 3rem;
}

.hero-paragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: var(--blue-button);
    justify-self: center;
    color: var(--main-white);
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 30px;
}

.about{
    text-align: center;
}

.subtitle{
    color: var(--blue-button);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about-paragraph{
    line-height: 1.7;
}

.about-icons{
    
}