/* Google Fonts: Roboto Flex */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto Flex', sans-serif;
}

.container{
width: 90%;
max-width: 1200px;
margin: 0 auto; /* centra un elemento de manera vertical*/
overflow: hidden; /* todo lo que salga de este contenedor se oculte */
background-color: #000;
}